@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Manrope', sans-serif;
}